ALTER TABLE profiles ADD COLUMN IF NOT EXISTS avatar_url text, ADD COLUMN IF NOT EXISTS bank_name text, ADD COLUMN IF NOT EXISTS account_title text, ADD COLUMN IF NOT EXISTS iban text, ADD COLUMN IF NOT EXISTS location text;
